/* styles/MainContent.module.css */
.mainContent {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    padding: 10px; /* 패딩 추가 */
    display: flex; /* 내부 요소를 Flexbox로 배치 */
    background-color: #f9f9f9; /* 배경색 추가 */
    box-sizing: border-box; /* 패딩과 보더를 포함하여 총 크기 계산 */
}
